body {
  background: #e5e9f0;
  color: #39404c;
  font-family: 'Source Code Pro', monospace;
  padding-top: 80px;
  padding-bottom: 80px;
}

.time {
  color: #fff;
  background: #81a1c1;
  padding: 2px 8px;
  display: inline-block;
  margin: 2px 0;
  border-radius: 4px;
}

.yellow {
  background: #ebcb8b;
}

.blue {
  background: #81a1c1;
}

.green {
  background: #a2be8c;
}

.darkb {
  background: #3b4252;
}

.grey {
  background: #aeb1b6;
}

.red {
  background: #bf616a;
}

.purple {
  background: #b48ead;
}

.nord {
  background: #88c0d0;
}

a {
  color: #5d758d;
  text-decoration: underline;
}

a:hover {
  color: #718661;
}

.move {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(112, 123, 150, 0.1);
  padding: 20px 10px;
}
